{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "trivy-ui.fullname" . }}
  labels:
    {{- include "trivy-ui.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
  
  - apiGroups:
      - aquasecurity.github.io
    resources:
      - "*" 
    verbs:
      - get
      - list
      - watch  
  
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
  
  - nonResourceURLs:
      - /api
      - /api/*
      - /apis
      - /apis/*
      - /version
    verbs:
      - get
      - list
{{- end }}
